.root{
    margin:0 auto;
}

.topWrapper{
    width:966px;
    margin:0 auto;
    color:#69b0cc;
}
.login{
    float:right;
}
.imgTop{
    max-width:1000px;
}
.top{
    width:966px;
    margin:0 auto;
}
.sixthStep #driving_name{
    display:none;
}

.eduform .control-group{display:none;}

.showProfileWrapper table td, .showProfileWrapper table th{
    padding:8px 3px;
}
div#secondStep.companyRegister div.control-group.attachedCompany{
    width:300px;
}
div#secondStep .eduSpan br{
    display:block;
}
.companyWebsite{
    text-align:center;
}
.left{
    float:left;
    clear:left;
}
.attachedCompany .photo_button{
    float:none;
    max-width:200px;
    margin:0 auto;
}
.mailWrapper .input-group-addon{
    left: 187px;
    padding: 4px 0;
    position: absolute;
    top: 15px;
}
.mailWrapper{
    position:relative;
    display:inline-block;
}
.offerFooter{
    font-size:11px;
}
.sendApplication{
    background:#55bfe6 !important;
    margin:20px auto !important;
    display:block !important;
    float:none !important;
    width:300px !important;
    font-size:20px !important;
}
.sendApplicationWrapper{
    text-align:center;
}
.mailWrapper input{
    padding-left:45px;
}
.addAdvertisment .smallImportance .control-group{

}
.addAdvertisment .importance .control-group {
    width: 60px !important;
}
.importance_message{
    width:150px;
    display:inline-block;
    margin-top:12px;
}
.smallImportance{
    margin-top:10px;
}
.mcaCollapse .showOfferWrapper{
    margin-top:0px;
}

.favourite{
   background:url('/images/gwiazdki.png'); 
   background-position: 40px 0px;
   display:block;
   height:20px;
   width:20px;
}
.favouriteWrapper{
    float:right;
}
.searchRightWrap{
    display: block;
    float: left;
    margin-right: 20px;
    text-align: right;
}
.searchOfferPhoto{
    float:left;
    margin-right:20px;
    width:72px;
}
.searchOfferPhoto img{
    max-height:70px;
}
.logged-fav:hover{
    background-position: -20px 0px;
}
.added-fav{
    background-position: -20px 0px;
}
.searchSidebar label{
    font-size:12px;
}
.searchSidebar .control-group{
    margin-top:10px;
}
.right{
    float:right;
    margin-right:15px;
    margin-top:-5px;
}
#secondStep .sex .control-group, .sex .control-group{
    width:400px;
}
#secondStep .sex .control-group .radio,.sex .control-group .radio{
    display:inline-block;
    position: absolute;
} 

#secondStep .sex .controls label,.sex .controls label {
    background-color:#E0E0E0;
    color:#333333;
    padding:4px 10px;
    margin-right:1px;
    text-align:center;
} 
#secondStep .sex .control-group .radio input,.sex .control-group .radio input{
    visibility: hidden;
} 
.sex .controls label{
    width:100px;
    float:left;
}
div#secondStep div.make-switch div.switch-on label,div#secondStep div.make-switch div.switch-off label{
    width:1px;
}

div#secondStep div.make-switch div.switch-off span.switch-right{
    background:#428BCA;
    color:#FFF;
}
div#secondStep div.make-switch div.switch-off span.switch-left{
    background:#E0E0E0;
    color:#000;
}
.welcome{
    margin-right:15px !important;
}
.start radio{
    display:inline-block;
}
.circleFormPopulated{
    background:red !important;
}
.checker{
    width:20px;
    display:inline-block;
}
#secondStep .red{
    margin-top:20px;
    margin-left:30px;
}
ul.errors li{
    color:red;
    font-weight:bold;
}
.noformHeadline{
    text-align:center;
}
div#secondStep .has-switch > div.switch-off {
    left:0px !important;
    margin-left:0px !important;
}
a{
    color:#69B0CC;
}
#sample_1_length > label{
    color:#FFF;
}
.topSpace th,.topSpace td{
    padding:5px;
}
.portlet.box .portlet-title .adsTopWrapper{
    color:#000;
}
.tools-black{
    background: #DD0000;
}
.subEducation,.subLocation{
    display:none;
}
.fbWrapper{
    min-width:90px;
    display:inline-block;
    top:10px;
    position:relative;
}
.strzalkaTop{
    position:absolute;
    top:0px;
    right:-45px;
}
.banerTopWrapper{
    width:727px;
    margin:0 auto;
    margin-top:9px;
}
.subTopWrapper{
    height:202px;
    width:1038px;
    margin:0 auto;
    position:relative;
}

.subTopWrapper img{
    float:left;
}
.mainLogo {
    display: block;
    height: 200px;
    margin:0 auto;
    position: relative;
    width: 413px;
    z-index: 1;
    
}
.premiumAds{
    height:350px;
}
.register .errors li{
    color: #FF0000;
}
.mainSearch{
    width:1038px;
    margin:0 auto;
    background:url('/images/podklad.jpg');
    height:215px;
    display:block;
    padding: 0 50px;
    z-index: 10;
}

/*a.button, button {  display:inline-block;
    text-align:center;
     background:#c8bb9b;
     padding:10px;
    color:#fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:none;
    text-shadow:none;*/
    /*min-width:150px;*/
/*  }
a.button:hover {display:inline-block;
                               min-width:150px;
    text-align:center;
     background:#fff;
     padding:10px;
    color:#c8bb9b;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:none;
    text-shadow:none;
}*/
.ui-multiselect-menu{
    position: absolute;
    display:none;
}
.searchSidebar{
    width:250px;
    float:left;
    font-size:12px;
    border:1px solid #CACACA;
    margin-right:20px;
    padding:10px;
    /*border-right:1px solid black;*/
}
.searchSidebar .formHeadline{
    margin-top:15px;
    font-size:18px;
}
.searchSend{
    float:right;
}
.reverse .mainShort{
    width:746px;
    display:inline-block;
}

.offerSearch{
    min-height:75px;
    padding-left:5px;
    border-bottom:1px solid #4D90FE;
    padding-top:10px;
    /*border:1px solid black;*/
}
.offerSearch:first-of-type{
    border-top:1px solid #4D90FE;
    /*border:1px solid black;*/
}
.searchCreated{
    font-size:11px;
    display:block;
}
.searchPosition{
    font-size:16px;
    font-weight:bold;
    color: #4D90FE;
}
.offerSearchDetails,.offerSearchHead,.offerSearchLogo{
    float:left;
    display:inline-block;
}

.bigSearchInput{
    width:650px;
}
.typeahead{
    /*width:692px;*/
}
.typeahead li{
    margin:2px;
    margin-left:5px;
}
.searchLocation{
    font-size:0.85em;
}
.searchH2{

    text-decoration: none;
    margin:0px;
    display:block;
}
.offerSearchDetails{
    width:25%;
}
.offerSearchHead{
   width:55%;
}
.searchOfferLink{
    font-size:15px;
}
.searchH2 .searchCompany{
    font-size:12px;
    padding-left:5px;
    margin-top:10px;
}
.searchSend .blue{
    margin:0px;
}
.searchH2 span{
    border-bottom: none;
    display:block;
    padding:0px;
}
.topCat, .topReg{
    float:left;
    display: inline-block;
}
.subSearch,.subSearch2{
    float:left;
}
.subSearch{
    width:705px;
    position:relative;
    color:#FFF;
}
.topCat span,.topReg span,.topEarningsFirst,.topEarningsSecond{
    margin-left:12px;
    margin-top:9px;
    margin-bottom:8px;
    display:block;
}
.topCat .ui-multiselect span,.topReg .ui-multiselect  span{ 
    margin:0px;
    display:inline-block;
}
.topCat button,.topReg button{ 
    padding:5px 0px;
}
.submitTop{
    border:0px;
}
.ui-widget-header .ui-icon{
    display:inline-block;
}
.ui-widget-header li{
    margin:5px 0px;
}
.ui-widget-header .ui-multiselect-close{
    float:right;
    margin-right:5px;
}
.ui-widget-header li{
    margin:2px 0px;
    padding:0px;
    display:inline-block;
}
.ui-icon-triangle-2-n-s{
    float:left;
}
.topEarningsFirst,.topEarningsSecond{
    display:inline-block;
    margin-top:23px;
}
.topEarningsSecond{
    margin-left:3px;
}
.topEarnings select{
   width:228px;
}
.advancedSearch{
    color:#fff;
    display:block;
    text-decoration:underline;
    text-align:center;
    margin-top:5px;
}

.submitTop{
    padding:0px;
    background:none;
    display:block;
    margin:0 auto;
}
.submitTop:hover{
    background:none;
    border:none;
    padding:0px;
    display:block;
}
.main{
    width:1038px;
    margin:0 auto;
    display:block;
}

.mainWrapper{
    width:968px;
    margin:0 auto;
}
.companyBanner #start_date{
    width:160px;
}
.bannerLabel{
    margin-top:50px;
}
.bannerAdd li{
    margin-left:0px;
    margin-top:0px;
}
.bannerAdd{
    width:1200px !important;
}
.bannerShort{
    width:260px;
    margin:0 auto;
}
.bannerShort img{
    width:260px;
    height:185px;
    cursor: pointer;
}
.bannerLong{
    width:870px;
    margin:0 auto;
}
.bannerLong img{
    width:870px;
    height:105px;
    cursor: pointer;
}
footer{
    margin-top:30px;
}
.codeMessage{
    width:445px;
    margin-top:10px;
    padding:5px;
    color:#fff;
    display:block;
    margin-left:25px;
    height:0px;
}
.noBr br{
    display:none;
}
.companyAccountMenu{
    background: #2b6bb5;
    color:#FFF;
    width:1038px;
    margin:0 auto;
    height:30px;
    line-height:30px;
}
.companyAccountMenu a{
    float:left;
    border-right:1px solid white;
    background: #2b6bb5;
    padding:0px 10px;
    display:block;
    color:#FFF;
    position: relative;
}
.companyAccountMenu a:last-of-type{
    border-right:none;
}

.startdate{
    display:inline-block;
    width:100%;
}
.startdate > span{
    float:left;
    font-size:14px;
    line-height:50px;
    display:block;
    margin-right:45px;
    margin-left:25px;
    margin-top:25px;
    color:#4a4a4a;
}
.start label{
    margin-right:10px;
}
.subofferName a,.mcaLinks a{
    color:#FFF;
}
.underh5,h5.formHeadline{
    margin-left:10px;
}

.promoteAdvertisment .radio{
    margin:5px 0px;
    display:inline-block;
}
.showOfferWrapper{
    margin:0 auto;
    /*background: #ECECEC;*/
    margin-top:-20px;
    /*padding:20px;*/
}
.offerHeaderContent p{
    margin:0px;
}
.offerHeaderContent{
    margin-top:10px;
    text-align:center;
    display:block;
}
.offerHeaderContent span{
    margin:0 auto;
    font-weight: bold;
}
.offerNameHeader h3{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    line-height: 30px;
    text-align:center;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:0px;
}
.location {
    text-align:center;
}
.location span h5{
    display:inline-block;
    margin:0px;
    padding:0px;
    color:#fff;
    font-size:13px;
}
.offerNameHeader{
    background:#55bfe6;
    color:#fff;
    padding-bottom:20px;
    padding-top:20px;
    margin-top:20px;
}
.h1OfferTop{
    font-weight:bold;
    font-size:20px;
    margin-top:0px;
    margin-bottom:0px;
}
.h2OfferTop{
    font-weight:normal;
    font-size:18px;
    margin-top:5px;
    margin-bottom:0px;
    margin-left:5px;
}
.showOfferSocial{
    height:30px;
    border-bottom: 1px solid #C3C3C3;
}

.sidebarOffer{
    width:248px;
    float:left;
    display:inline-block;
}

.showOffer{
    width:75%;
    /*min-height:1500px;*/
    display:inline-block;
    /*padding:5px 10px;*/
    border:1px solid #55bfe6;
}

.sidebarOfferTop .btn.blue{
    text-align:center;
    float:none;
    font-weight:bold;
    width:200px;
    top:0px;
    z-index:1;
    position: relative;
}
.sidebarOfferTop i{
    float:left;
}
.sidebarOfferTop{
    min-height:450px;
    padding:5px 2px;
}
.sidebarOfferBottom{
    min-height:135px;
    background:#FFF;
    margin-left:-20px;
    margin-bottom:-20px;
    position:relative;
}
.sidebarOfferCompany{
    padding-bottom:15px;
    border-bottom:2px solid #55bfe6;
    margin-bottom:15px;
}
.sidebarOfferTop ul{
    list-style-type: disc;
}
.sidebarOfferTop li{
    font-size:11px;
}
.sidebarListHeader{
    color:#696969;
    text-decoration: underline;
}
.sidebarListElement{
  
}
.sidebarOfferBottom,.sidebarOfferTop,.showOffer{
    /*border:1px solid black;*/
    
}
.addAdvertisment label,.subEducation label{

}
.addAdvertisment .control-group label,.subEducation .control-group label{
    width:175px;
    max-width:175px;
    margin-right:45px;
}

.addAdvertisment .control-group,.subEducation .control-group{
    width:500px;
    margin-top:10px;
  
}
.addAdvertisment .controls,.subEducation .controls{
    display:inline-block;
    
}
.start .control-group{
    width:250px;
    margin-top:0px;
}
.addAdvertisment .importance,.subEducation .importance{
    display:inline-block;
    width:300px;
    margin-left:20px;
}
.sex br{
    display:none;
}
.addAdvertisment div.startdate div.start_date div.input-group div.control-group{
    width:200px;
    margin-top:0px;
}
.addAdvertisment div.startdate div.start_date div.input-group div.control-group div.controls input#start_date.span8{
    padding-bottom:7px;
}
.addAdvertisment .importance br,.subEducation .importance br{
    display:none;
}
.addAdvertisment .importance label,.subEducation .importance label{
    width:1px;
    float:left;
    margin:0px;
    margin-top:12px;
}
.addAdvertisment .importance label:first-child,.subEducation .importance label:first-child{
    width:1px;
    float:left;
}
.addAdvertisment .importance label.import,.subEducation .importance label.import{
    width:175px;
    margin-left:25px;
    float:left;
    display:inline-block;
    margin-top:10px;
    margin-right:45px;
}
.addAdvertisment .importance div.control-group,.subEducation .importance div.control-group{
    width:300px;
    float:left;
    margin-right:30px;
    display:block;
    margin-top:0px;
}
.addAdvertisment .importance div.radio,.subEducation .importance div.radio{
    
}
.addAdvertisment .importance input,.subEducation .importance input{
    visibility: hidden;
}
.addAdvertisment .importance div.radio span,.subEducation .importance div.radio span{
  background-image:none;

}

.register #email{
    width:auto;
    margin-left:0px;
    padding-left:15px;
    max-width:none !important;
}
.companyRadio .control-group{
    margin:0px;
}
.register .companyRadio .radio{
    float:right;
}
.register .companyRadio label{
    width:140px;
    max-width:140px;
    margin-left:25px;
}
.register label{
    width:100px;
}
.addAdvertisment .populateDataSource .control-group, .addAdvertisment .populateDataSource .control-group {
    width:auto !important;
    max-width:none !important;
}
.importance label{
    width:20px !important;
    text-align:center;
}
.searchSend .checker span { width:20px; height:20px; display:block;float:right;margin-right:20px;background:url(/images/gwiazdki.png); background-position:40px 0px; }
.searchSend .checker span:hover,.searchSend .checker span.checked,.searchSend .checker:focus span.checked,.searchSend div.checker.hover span.checked,.searchSend div.checker.focus span.checked{ background-position: -20px 0px;}

.addAdvertisment .populateDataSource .importance .control-group, .addAdvertisment .populateDataSource .importance .control-group {
    width:60px !important;
}
.star { background:url(/images/gwiazdki.png); background-position:-40px 0px; }

.starRed{
    display:block;height:20px;width:20px;
    background:url(/images/gwiazdki.png);background-position:20px 0px;
}
.starYellow{
    display:block;height:20px;width:20px;
    background:url(/images/gwiazdki.png);background-position:-20px 0px;
}
.starGreen{
    display:block;height:20px;width:20px;
    background:url(/images/gwiazdki.png);background-position:0px 0px;
}
.importance .controls label div.radio span { margin:0 auto;background:url(/images/gwiazdki.png); background-position:-40px 0px; width:20px; height:20px; display:block; }
.importance .controls label:nth-of-type(1) div.radio:hover  span,.importance label:first-child div.radio:hover  span:after,.importance label:first-child div.radio:hover span:before,
.importance .controls label:nth-of-type(1) div.radio span.checked,.importance label:first-child div.radio  span.checked:after,.importance label:first-child div.radio span.checked:before{
    background-position:0px 0px;
}
.importance label:nth-of-type(2) div.radio:hover span,.importance label:nth-of-type(2) div.radio:hover  span:after,.importance label:nth-of-type(2) div.radio:hover span:before,
.importance .controls label:nth-of-type(2) div.radio span.checked,.importance label:nth-of-type(2) div.radio  span.checked:after,.importance label:nth-of-type(2) div.radio span.checked:before{
    background-position:-20px 0px;
}
.firstStep .startdate{
    margin-left:25px;
}
ul.select2-choices{
    max-width:150px;
}
.my-step{
    margin-bottom:20px;
}
.responsibility .controls{
    clear:both;
}
.langForm select{
    max-width:100px !important;
}
.importance .controls label:nth-of-type(2) div.radio:hover  span.checked ~ .importance .controls label:nth-of-type(1) div.radio span.checked{
       background-position:-20px 0px;
}

.importance label:nth-of-type(3) div.radio:hover span,.importance label:nth-of-type(3) div.radio:hover  span:after,.importance label:nth-of-type(3) div.radio:hover span:before,
.importance .controls label:nth-of-type(3) div.radio span.checked,.importance label:nth-of-type(3) div.radio  span.checked:after,.importance label:nth-of-type(3) div.radio span.checked:before{
    background-position:20px 0px;
}
.start label{
     margin-right:10px !important;
    width:100px !important;
    max-width:100px !important;
}
.start .radio{
    float:left;
}
.start label span{
    width:25px;
    display:inline-block;
}
.partners{
    width: 695px;
}
.partnerImages{
    margin-top:35px;
    margin-bottom:54px;
}
.printPdfFooter{
    text-align:center;
}
.showProfileAdd{
    margin-right:5px;
}
.blue,#secondStep .green{
    float:right;
    margin-right:30px;
    margin-top:20px;
}
#forw{
    margin-left:30px;
    margin-top:20px;
}
.rowLight{
    background:#FFF;
}
.rowDark{
    background:#F4F4F4;
    
}
.rowLight td,.rowDark td{
    text-align:center;
}
.rowLight .offerName,.rowDark .offerName{
    text-align:left;
}
.control-switch .col-md-9{
    width:auto;
}
.eduHeader{
    padding:5px;
    font-weight:bold;
    margin:5px 0px;
}
.eduHeader span{
    margin:5px;
    font-weight:normal;
}
.partnerImages img{
  
}
.rightMainTop{
    width:272px;
    float:right;
}
.reklama1{
    display:block;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:20px;
}

.rightMainTopWrapper{
    margin:0 auto;
    width:220px;
}
.rightMainTopWrapper .underline{
    margin-bottom:20px;
}

.leftMainTop{
    width:695px;
    float:left;
}

.red{
    color:red;
}
.advertisment{
    width: 166px;
    height:240px;
    float:left;
    border:2px solid #d7d7d7;
    text-align:center;
    z-index:1;
    
}
.advertisment:hover{
    height:260px;
    margin-top:-10px;
    width:170px;
    margin-right:-4px;
    border-top:2px solid #6bc4f0;
    background: #fdfdfd;
    z-index:10;
    box-shadow: 2px 2px 2px 2px #d7d7d7;
}
.adsWrapper .bx-wrapper:hover{
    max-width:685px !important;
    width:685px !important;
}
.bxslider{
    margin-top:25px;
}

.bxslider li{
    z-index:1;
}
.bxslider li:hover{
    z-index:10;
}
.adPosition{
    margin-top:10px;
    font-weight:bold;
    display: block;
}
.adCompany{
    margin-top:10px;
    display: block;
}
.adMoney{
    margin-top:10px;
    display: block;
}
.superOferta{
    position:absolute;
    top:-15px;
    right:0;
}


.categoryList{
    float:left;
    width:200px;
    
}
.categoryList ul{
    list-style-type:none;
}
.categoryList li:before{
    content: "• ";
    color: #ff8100; /* or whatever color you prefer */
}
.categoryTop{
    font-weight:bold;
}
.categories{
    margin-top:60px;
    margin-bottom:43px;
    display:inline-block;
}

.categoryWrapper{
    margin-top:25px;
    min-height:300px;
}
.adsWrapper{
    margin-top:30px;
}
.advertisment img{
    margin:5px auto;
    display:block;
}

.advertisment{
    position:relative;
}
.topCat select,.topReg select{
    width:365px;
    height:25px;
    background:#f6f6f6;
}
.topCat option,.topCat optgroup,.topReg option,.topReg optgroup{
    display:none;
}
.topReg select{
    width:305px;
}
.topCat{
    margin-right:25px;
}
.subSearch2{
    width:230px;
    position:relative;
}
.subSearch2 h3{
    color:#fff;
    text-align:center;
    margin-top:30px;
    margin-bottom:33px;
}

.diplomaScan{
    max-width:10px;
}
#secondStep input:not([type="file"]){
    max-width:120px;
}
.banerBottom{
    margin:0 auto;
    margin-top:11px;
    margin-bottom:11px;
    display:block;
}
.register .control-group,#login .control-group,#registerComplete .control-group{
    width:500px;
    margin-bottom:15px;
}
#registerComplete .control-group{
    float:none;
    margin-top:15px;
}
#registerComplete .control-label{
    width:150px;
    max-width:150px;
}
.register span{
    margin:5px 0px;
    display:block;

}
.register .blue,#login .blue,#registerComplete .blue{
    margin-top:0px;
    float:none;
    margin-left:25px;
}
.main{
    min-height:500px;
}
.adsTopWrapper span{
    float:right;
    font-size:20px;
    line-height:20px;
    
}
.adsTopWrapper{
    margin-right:40px;
}
.myAds th{
    border-style:none;
}
.myAds table{
    margin-top:10px;
}
.myAds table th:first-child{
    font-size:10px;
}
.myAds table th:first-child,.myAds table td:first-child{
    max-width: 5px;
}
.locationOffer{
    display:block;
    font-size:10px;
    
}
img.promoteLogo{
    width:72px !important;
    height:35px !important;
}
img.superOferta{
    width:41px !important;
    height:41px !important;
}
.bx-wrapper li{
    margin:0;
}
.premiumAds .bx-viewport {
    height:300px !important;
}
.partnerImages .bx-wrapper img{
    width:160px;
    height:95px;
}
.categoryWrapper .bx-wrapper li{
    margin: 0.5em 0 0.5em 2em;
}
.bx-wrapper .bx-next{
    left:720px !important;
}
.bx-wrapper .bx-prev{
    left:-25px !important;
}
.popover{
    position:absolute !important;
    max-width:180px;
    background:#4D90FE;
    color:#FFF;
}
.searchSidebar br{
    display:none;
}
.bx-wrapper .bx-controls-direction a{
    top:135px !important;
}
.partnerImages .bx-viewport{
    padding:10px 0px !important;
}

.promoteWrapper{
    float:right;
    margin-right:20px;
}

.promoteAd{
    width:185px;
    height:75px;
    background: #e4e4e4;
}
.promoteAd img{
    display: block;
    float: left;
    margin-left: 10px;
    position: relative;
    top: 20%;
}
.promoteAd a{
    display: inline-block;
    margin-top: 15px;
    position: relative;
    color:#000;
}
.promoteAd span{
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 130px;
}
.removeAd{
    background:red;
}
#uniform-remember{
    margin-left:75px;
}
.forgot_password{
    margin-left:75px;
    width:500px;
    display: inline-block;
    margin-bottom:15px;
}
#messageDiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:30px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    z-index:2000;
    background-color: green;
    display: none;
    color:#fff;
    text-align:center;
    font-size:16px;
    line-height: 16px;
    padding-top:10px;
    font-weight:bold;
}
.skillsWrapper{
    margin-top:40px;
}
.skillsWrapper .form-group{
    margin:15px 0px;
}
.skillsWrapper .form-group input{
    max-width:300px !important;
    width:300px !important;
}
/* show offer */

.showOfferUserHeader{
    border-top:34px solid #63b2d9;
}
.showOfferReq p{
    margin:0px !important;
}

/* show profile */

.showProfile{
    width:95%;
    margin:0 auto;
    border:6px solid #75d2ff;
    border-top:38px solid #75d2ff;
}

.showProfileNoItem{
    padding:10px 5px;
    font-size:14px;
}
.profilePhoto{
    position:relative;
    height:150px;
    float:left;
}
.profilePhoto img{
    display: block;
    position: absolute;
    left: 110px;
    max-width: 200px;
    max-height: 200px;
    border:2px solid #75d2ff;
    top:-22px;
}
.showProfileItemWrapper{
    padding:0px 50px;
}

.showProfileHeader{
    
    margin-left: 300px;
    /*margin-top: 30px;*/
}

.showProfileHeaderItem{
    margin:5px 0px;
    font-size:14px;
    /*font-weight:bold;*/
}
.showProfileHeaderItem span{
    font-size:14px;
    margin-right:5px;
    font-weight:normal;
}
.showProfileUserName{
    font-size:26px;
    padding:15px 0px;
    margin-top:0px;
}
.showProfileContentMain{
    margin-top:-10px;
     min-height:400px;
    padding-top:0px;
    background:#F8F8F8;
    border-radius:6px !important;
    -moz-border-radius:6px !important;
    -webkit-border-radius:6px !important;
}

.showProfileExperienceDate{
    float:left;
    margin-right:20px;
    margin-top:10px;
}
.showProfileExperiencePosition div{
    margin:0px 10px;
    display:inline-block;
}
.showProfileExperience{
    float:left;
    margin-top:1px;
}
.showProfileExperiencePosition{
    font-weight:bold;
}
.showProfileExperienceDescription{
    padding-left:20px;
    margin:3px 0px;
    margin-bottom:10px;
}
.showProfileExperienceDescription span{
    display:block;
    padding:5px 0px;
    margin-left:-20px;
}

.cvFooter{
    margin:10px 0px;
    font-size:12px;
}
.cvFooter a{
    display:block;
    font-size:14px;
    color:#000;
}

/* show profile education */

.showProfileEducation div,.showProfileEducation2 div{
    display:inline-block;
    margin:5px 10px;
}

.showProfileEducationDate{
    font-weight:bold;
    
}
.showProfileEducationGrade{
    margin: 5px 10px;
}
.showProfileEducation{
    margin-top:20px;
}
.showProfileEducationGrade{
    margin-bottom:20px;
}
.showProfileEducation3,.showProfileEducation2{
    margin-left:92px;
}

/* show profile languages */

.showProfileLanguage{
    margin:15px 0px;
}
.showProfileLanguage div{
    display:inline-block;
}

/* show profile languages */

.showProfileCourseOrganizer{
    padding: 5px 10px;
}

/* show profile footer */

.showProfileFooter{
    font-size:10px;
     padding:10px 50px;
    background:#d9d9d9;
    margin:30px 0px;
}



/* user step */
.stepEdit{
    margin:10px 0px;
    display:block;
}